.rp-projects-section {
  min-height: 100vh;
  background-color: white;
  padding-top: 10px;
}

.rp-projects-title {
  border-bottom: 2px solid #293241;
  padding-bottom: 7px;
  width: 50%;
  color: #293241;
}

.rp-project-container {
  max-width: 70vw;
}

.rp-project-row {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.rp-project-list-wrapper {
  /* background-color: aquamarine; */
  margin-top: 30px;
}

.rp-project-card {
  width: 30%;
  height: 200px;
  border: 2px solid #fdc944;
  background-color: black;
  border-radius: 8px;
  position: relative;
  color: #fdc944;
}

.rp-project-card h3 {
  font-size: 16px;
  margin: 20px 0;
}

.rp-project-card p {
  font-size: 14px;
  display: none;
}

.rp-projects-demo-link-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.rp-projects-demo-link-wrapper button {
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-weight: 500;
  background-color: #4c778a;
  color: white;
}

.rp-projects-demo-link-wrapper button:hover {
  background-color: #81a4b3;
}

.rp-projects-contact-btn {
  margin-top: 20px;
}

.rp-projects-contact-btn button {
  padding: 10px;
  background-color: #34548a;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 500;
}

.rp-projects-contact-btn button:hover {
  background-color: #566f9b;
}

.rp-projects-contact-btn a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 560px) {
  .rp-project-card h3 {
    font-size: 24px;
  }
}

@media (min-width: 900px) {
  .rp-project-card h3 {
    font-size: 38px;
  }
}
