.rp-hero-section {
  min-height: 100vh;
  background-color: #344a86;
}

.rp-header-wrapper {
  /* background-color: aqua; */
  color: #c2964b;
  font-weight: 500;
}

.rp-header-container {
  max-width: 70vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* gap: 25px; */
}

.rp-nav-link {
  /* background-color: beige; */
  margin: 10px 0px;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.rp-nav-link:hover {
  background-color: #e1ddd6;
  color: #4b4945;
}

.rp-nav-link-txt a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.rp-hero-body-wrapper {
  max-width: 70vw;
  display: flex;
  gap: 20px;
  margin-top: 70px;
}

.rp-hero-body-content {
  /* background-color: blueviolet; */
  flex: 2;
  text-align: left;
  color: #e1ddd6;
}

.rp-hero-body-heading {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.rp-hero-body-para {
  /* margin: 30px auto; */
  padding: 0 10px 10px 10px;
  margin: 0;
}

.rp-hero-body-nxt-btn {
  margin: 5px auto;
  padding: 10px;
}

.rp-hero-body-nxt-btn button {
  background-color: #407794;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
}

.rp-hero-body-nxt-btn button:hover {
  background-color: #528baa;
}

.rp-hero-body-nxt-btn a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.rp-hero-body-img-wrapper {
  /* background-color: lightblue; */
  flex: 1;
  height: 100%;
  overflow: hidden;
  align-self: center;
  border-radius: 8px;
  -webkit-box-shadow: 11px 14px 9px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 14px 9px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 14px 9px -13px rgba(0, 0, 0, 0.75);
  display: none;
}

.rp-hero-body-img {
  height: 100%;
  width: 100%;
}

@media (min-width: 575px) {
  .rp-hero-body-heading {
    font-size: 70px;
  }
}

@media (min-width: 764px) {
  .rp-hero-body-img-wrapper {
    display: block;
  }

  .rp-hero-body-heading {
    font-size: 90px;
  }

  .rp-header-container {
    gap: 25px;
  }
}
