.rp-contact-section {
  height: 100vh;
  background-color: #00c790;
  color: #1e171c;
}

.rp-contact-section-title {
  font-size: 42px;
  padding: 20px 0;
  border-bottom: 2px solid #293241;
  width: 50%;
  margin-bottom: 20px;
}

.rp-contact-email-div p {
  font-size: 24px;
}

.rp-contact-email-div a {
  background-color: teal;
  padding: 5px;
  border-radius: 8px;
  color: white;
  -webkit-box-shadow: 11px 14px 9px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 14px 9px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 14px 9px -13px rgba(0, 0, 0, 0.75);
}

.rp-contact-icon-list {
  display: flex;
  max-width: 70vw;
}

.rp-contact-icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.rp-contact-icon,
a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.rp-contact-top-btn {
  margin: 30px 0;
}

.rp-contact-top-btn button {
  padding: 20px;
  background-color: #34548a;
  color: white;
  border: none;
  border-radius: 50%;
  font-weight: 500;
}

.rp-contact-top-btn button:hover {
  background-color: #566f9b;
}

.rp-contact-top-btn a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.rp-contact-more {
  margin-top: 30px;
  font-size: 24px;
}
